/* regular */
@font-face {
    font-family: 'suisse-intl';
    src: url('fonts/SuisseIntl-Regular-WebS.woff2') format('woff2'),
        url('fonts/SuisseIntl-Regular-WebS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'suisse-intl';
    src: url('fonts/SuisseIntl-RegularItalic-WebS.woff2') format('woff2'),
        url('fonts/SuisseIntl-RegularItalic-WebS.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'suisse-intl';
    src: url('fonts/SuisseIntl-Bold-WebS.woff2') format('woff2'),
        url('fonts/SuisseIntl-Bold-WebS.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'suisse-intl';
    src: url('fonts/SuisseIntl-BoldItalic-WebS.woff2') format('woff2'),
        url('fonts/SuisseIntl-BoldItalic-WebS.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}


/* condensed */
@font-face {
    font-family: 'suisse-intl-cond';
    src: url('fonts/SuisseIntlCond-Regular-WebS.woff2') format('woff2'),
        url('fonts/SuisseIntlCond-Regular-WebS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'suisse-intl-cond';
    src: url('fonts/SuisseIntlCond-RegularItalic-WebS.woff2') format('woff2'),
        url('fonts/SuisseIntlCond-RegularItalic-WebS.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'suisse-intl-cond';
    src: url('fonts/SuisseIntlCond-Medium-WebS.woff2') format('woff2'),
        url('fonts/SuisseIntlCond-Medium-WebS.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'suisse-intl-cond';
    src: url('fonts/SuisseIntlCond-MediumItalic-WebS.woff2') format('woff2'),
        url('fonts/SuisseIntlCond-MediumItalic-WebS.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}


/* mono */
@font-face {
    font-family: 'suisse-intl-mono';
    src: url('fonts/SuisseIntlMono-Regular-WebS.woff2') format('woff2'),
        url('fonts/SuisseIntlMono-Regular-WebS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'suisse-intl-mono';
    src: url('fonts/SuisseIntlMono-Bold-WebS.woff2') format('woff2'),
        url('fonts/SuisseIntlMono-Bold-WebS.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}